.articles .art h1, h2
{
    text-align: center;
    color:white;
}
.articles .art p
{
    color: white;
    font-size: 20px;
}
.articles .art img
{
    width: 70%;
    height: 70vh;
}
.articles
{
    padding-top:100px ;
    width: 80%;
    margin: 2px auto;
}


