body{
    scroll-behavior: smooth;
    overflow-y: none;
    /* background-color: black; */
    background-image: url('yellow.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    overflow-x: none;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
    overflow-x: none;
}
.books
{
    padding-top: 50px;
    cursor: pointer;
}
.books h1
{
    text-align: center;
    /* font-weight: 900; */
    font-size: 40px;
}
.books .card
{
    height: 9rem;
    width: 1.5rem;
    background-color: rgb(182, 106, 106);
    color: white;
    position: relative;
    top:-79px;
    left:0px;
    display: inline-block;
    margin: -5px 1px;
    transition: all 2s .3s;
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#book1
{
    background-image: url('img/book1.png');
}
#book2
{
    background-image: url('img/book2.png');
}
#book3
{
    background-image: url('img/book3.png');
}
#book4
{
    background-image: url('img/book4.png');
}
#book5
{
    background-image: url('img/book5.png');
}
#book6
{
    background-image: url('img/book6.png');
}
#book7
{
    background-image: url('img/book7.png');
}
#book8
{
    background-image: url('img/book8.png');
}
#book9
{
    background-image: url('img/book9.png');
}
#book10
{
    background-image: url('img/book10.png');
}
#book11
{
    background-image: url('img/book11.png');
}
#book12
{
    background-image: url('img/book12.png');
}
#book13
{
    background-image: url('img/book1.png');
}
.books .sec
{
    /* position: absolute; */
    border-bottom: 20px solid white;
    border-left: 20px solid white;
    border-right: 20px solid white;
    padding: 1px 1px 1px 1px;
    /* margin: 2px 2px 2px 2px; */
    height: 60px;
}
.sec1 {
    top: 24rem;
    left: 6rem;
    display: flex;
    max-width: 220px;
    margin: 95px 2px 2px 50vw;
    /* display: flex; */
}
.sec2 {
    top: 15rem;
    left: 31rem;
    max-width: 150px;
    display: flex;
    margin: 7vh 2px 2px 20vw;
}
.books .show:hover
{
    /* box-shadow: 0 0 11px 2px black; */
}
.books .show img
{
    width: 100%;
    height:100%;
    /* height: 67z%; */
    transition: transform 1s .2s;
}
.books .show h2
{
    text-align: left;
    padding-left: 15px;
    margin:10px 2px 0px 2px;
    color:black;
    font-size: 20px;
    display: none;
}
.books .show p
{
    padding-left: 15px;
    color: black;
    font-size: 16px;
    
    display: none;
}
.books .show .title
{
    height: 60px;
    display: none;
}
/* .books .show p
{
    color: white;

} */
.books .show a
{
    border: 1px black solid;
    border-radius: 25px;
    padding: 4px 20px;
     font-family: 'Baloo Bhai 2', cursive;
     font-weight: 400;
    text-decoration: none;
    color: #29003A;
    margin-left: 1vw;
    background-color: rgb(203, 102, 1);
    transition: all 1s 1s;
}
.books .show{
    /* background-color: rgb(37, 34, 0); */
    /* border: 2px  black solid; */
    color: white;
    /* height: 100%; */
    /* height: 66vh; */
    width: 15vw;
    position: absolute;
    top: 4rem;
    left: 2rem;
    /* transition: all 2s 1s; */
}
.books .show a:hover
{
        background-color: rgb(172, 89, 6);
        /* color: white; */
}
.book_title
{
    text-align: center;color: aliceblue;margin-top:0px;padding-top: 100px;
}
.book_title
{
    color: black;
    text-align: center;
    /* background-image: url('https://cdn.pixabay.com/photo/2016/11/12/19/30/wood-1819542_960_720.jpg'); */
    width: 30%;
    margin: 2px auto;
}
.books .show img:hover
{
    transform: scale(1.1);;
}
.header
{
    margin-top: -10px;
}