body{
    scroll-behavior: smooth;
    overflow-y: none;
    overflow-x: none;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
}
.header .nav ul
{
    display: flex;
    margin: 2px 3px 3px 8rem;
    padding: 2px 2px;
}
.header  
{
    background-color: white;
    position: fixed;
    display: flex;
    box-sizing: border-box;
    margin: 0px;
    width: 100vw;
    z-index: 1000;
}
.header .nav .title h1
{
    margin: 0px;
    font-size: 35px;
    font-weight: 600;
    color: #29003A;
    font-family: 'Rajdhani', sans-serif;
    
}
.header .nav .title
{
    margin: auto 25px;
    margin-left: 0px;
}
.header .nav
{
    /* background-color: #29003A; */
    display: flex;
}
.header .nav ul li
{
    list-style: none;
    margin: 12px 2px;
    padding: 2px 2px;
}
.header .nav ul li a
{
    margin: 1px 1px;
    padding: 2px 17px;
    border-bottom: 1px white solid;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: 600;
    text-decoration: none;
    color: #29003A;
}
.header .nav ul li .active
{

    color: #29003A;
    /* text-decoration: underline; */
    border-bottom: 2px #29003A solid;
}
.header .nav ul li a:hover
{
    background-color: #29003A;
    color: aliceblue;
}
body
{
    /* background-color:  #29003A; */
    /* background-color:  #180121; */
    background-color: black;
    margin: 0px;
    overflow-x: none;
}
/* .container
{
    display: flex;
} */
.container
{
    padding-top: 71px;
    display: flex;
    /* width: 100vh; */
    /* height: 1022px; */
    flex-direction: column;

    
}
.container1{
    display: flex;
}
.container1 img
{
    position: absolute;
    left: 0px;
    right: 0px;
}
.container1 .sky
{
    left: 0px;
    top: auto;
    height: 700px;
    width: 100vw;
    z-index: -2;
}
.container1 .fullMoon
{
    left: 78vw;
    top: 200px;
    /* margin-left: 1100px; */
    height: 173px;
    width: 278px;
    z-index: 3;
}
/* .nav .title h1{
    position: absolute;
    top:0px;
    left: 0px;
    z-index: 14;
} */
.nav .planet
{
    /* position: absolute; */
    top:20px;
    left: 180px;
    height: 50px;
    z-index: 12;
    margin-left: 10px;
    margin-top: 8px;
}
.container1 .mountain
{
    bottom: -88px;
    height: 117vh;
    width: 100vw;
    z-index: 6;
}
.container1 .lightning
{
    /* top: -50px;
    right: 100px; */
    margin-left: 1100px;
    margin-top: 60px;
    /* margin-right: 200px; */
    height: 100px;
    width: 200px;
    z-index: 2;
}
.container1 
{
    /* display: flex; */
    /* background-image: url('first.jpg') ;
    min-height: 90vh;
    min-width: 600px;
    color: #180121;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    height: 100vh;
}

.container .container1 .box .a a:hover
{
        background-color: #3d0b54;
        color: white;
}
.container .container2 .box .a a:hover
{
        background-color: #3d0b54;
        color: white;
}
.container .container1 .box h3
{
    color: #ecdbf4;
    font-size: 24px;
    margin: 0px;
}
.container .container1 .box h1
{
    color: white;
    margin-bottom: 14px;
    font-size: 45px;
}
.container .container1 .box:hover
{
    z-index: 7;
}
.container .container1 .box
{
    /* display: inline-block; */
    position: absolute;
    margin: 31px 42px 2px 154px;
    padding: 2px 224px 2px 2px;
    z-index: 9;
}
.container .container1 .box .a
{
    margin: 35px 1px 1px 1px;
    
}
.container .container1 .box .a a
{
    border: 1px white solid;
    border-radius: 25px;
    padding: 9px 34px;
     font-family: 'Baloo Bhai 2', cursive;
     font-weight: 400;
    text-decoration: none;
    color: #29003A;
    background-color: white;
}
/* .container .container1 .img
{   
   margin-right: 0px;
   margin: 31px 110px 2px 2px;
} */

.container2
{
    margin-top: 0px;
    display: flex;
    background-image: url('earth.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
.container .container2 .box h3
{
    color: #ecdbf4;
    font-size: 24px;
    margin: 0px;
}
.container .container2 .box h1
{
    color: white;
    margin-bottom: 14px;
    font-size: 45px;
    margin-top: 0px;
}
.container .container2 .box {
    display: inline-block;
    margin: 123px 42px 2px 226px;
    padding: 1px 8px 2px 2px;
    width: 51%;
}
.container .container2 .box .a
{
    margin: 35px 1px 1px 1px;
    
}
.container .container2 .box .a a
{
    border: 1px white solid;
    border-radius: 25px;
    padding: 9px 34px;
     font-family: 'Baloo Bhai 2', cursive;
     font-weight: 400;
    text-decoration: none;
    color: #29003A;
    background-color: white;
}
.container .container2 .img
{
    margin: 30px 3px 4px 40px;
}
.video iframe
{
    width: 88vw;
    height: 42rem;
    margin: 50px 24px;
}
/* width: 88vw;
height: 42rem;
margin: 49px 23px; */
.video h1
{
    text-align: center;
    color: white;
    margin-bottom: 14px;
    font-size: 45px;
}
.video h3
{
    text-align: center;
    color: #ecdbf4;
    font-size: 24px;
    margin: 0px;
}
.video
{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
}
.footer
{
    /* border-top: 1px solid white; */
    margin: 20px 10px;
}
.summury
{
    display: flex;
    /* background-color: white; */
   padding: 27px 79px;
   padding-top: 40px;
}
.summury::before
{
    content: "";
    background-image: url('https://cdn.pixabay.com/photo/2018/02/26/16/58/astronomy-3183482__340.jpg');
    position: absolute;
    background-attachment: fixed;
    /* top: 0px; */
    left: 0px;
    height: 70vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .5;
    z-index: -2;

}
.summury .box h1
{
    margin-left: 113px;
    color: #ecdbf4;
    font-family: 'Baloo Bhai 2', cursive;
    margin-bottom: 14px;
    font-size: 45px;
}
.summury .box ul li{
    color: #ecdbf4;
    font-size: 25px;
}
.summury .box
{
    /* width: 33%; */
    padding: 16px -7px;
    padding-bottom: 40px;
    color: #ecdbf4;
    /* display: flex; */
    /* padding-top: 91px; */
    margin: 10px 60px;
    /* border-bottom: 2px solid white; */
}
.summury .box img
{
        margin: 9px 9px;
        width: 80%;
        height: 261px;
}
.video::before
{
    content: '';
    position: absolute;
    top: 700px;
    height: 150px;
    width: 100%;
    background-image: linear-gradient(transparent,black,transparent);
    /* background-color:black; */
    z-index: 100;
}

.nav::after
{
    content: '';
    position: absolute;
    bottom: 0px;
    height: 20px;
    width: 100%;
    /* background-color: #29003A; */
    background-image: linear-gradient(transparent,transparent,black);
    z-index: 1000000;
}
.pred img
{
    height: 50px;
    width: 50px;
    margin-top: 7px;
    cursor: pointer;
}
/* .pred
{
    position: absolute;
    right: 10px;
    top: 200px;
} */
#float
{
    position: absolute;
    display: flex;
    flex-direction: column;
    /* top: 30px; */
    margin-top: 10px;
    z-index: 9999999;
    border-top: 1px black solid;
    display: none;
}
.header .nav ul li  .f
{

    font-size: 15px;
    display: block;
    color:black;
    text-align: center;
    background-color:white;
    border: 1px black solid;
    border-radius: 0px;
    margin-top: 0px;
    transition: all;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}

