.header .nav ul
{
    margin: 2px 3px 3px 0rem;
}
.header .nav ul li a
{
    font-size: 10px;
}
.header .nav 
{
    flex-direction: column;
}
.video iframe
{
    height: 60vh;
}
.container1 .fullMoon
{
    left: 62vw;
}
.container .container1 .box
{
    /* display: inline-block; */
    margin: 31px 42px 2px 42px;
    padding: 2px 8px 2px 2px;
}
.container
{
    padding-top: 121px;
}
.about {
    padding-top: 113px;
}
.about .aboutInner .img img
{

    height: 422px;
    width: 38vw;
}
.cources .ccont .box {
    margin: 32px 28px 2px 7px;
}
.cources .ccont2 .box {
    margin: 32px 28px 2px 7px;
}
.cources .ccont .box h1 {
    font-size: 34px;
}
.cources .ccont2 .box h1 {
    font-size: 34px;
}
ul li {
    font-size: 20px;
}
.cources .ccont .img img
{
    margin-top: 60px;
}
.cources .ccont2 .img img
{
    margin-top: 60px;
}
.about .aboutInner
{
    display: flex;
    flex-direction: column-reverse;
}
.about .aboutInner .img img {
    height: 422px;
    width: 90vw;
    margin-left: 40px;
}
.books .card
{
    height: 670px;
    width: 42vw;
}
.book_title
{
padding-top: 150px;
}

.summury .box{
    width: 61%;
    margin: 20px auto;
}

