.container1 .fullMoon
{
    left: 40vw;
}
.container .container1 .box h1
{
    font-size: 25px;
}
.container .container1 .box h3
{
    font-size: 13px;
}
.container .container1 .box .a a
{
    font-size: 15px;
}