.container1 .fullMoon {
    left: 33vw;
}

.container .container1 .box h1 {
    font-size: 21px;
}
.container .container1 .box h3 {
    font-size: 11px;
}
.container .container1 .box .a a {
    font-size: 11px;
}
.about .aboutInner .img img {
    height: 422px;
    width: 90vw;
    margin-left: 40px;
}
.cources .box ul {
    padding-left: 22px;
    width: 234px;
    margin-bottom: 35px;
    margin-top: 10px;
}
.cources {
    margin-left: 0px;
    padding-left: 0px;
}
.cources .box h3 {
    font-size: 21px;
    width: 210px;
}
.cources .box a {
    font-size: 10px;
}
.cources .box .free {
    width: 225px;
}
.cources .ccont2 .box {
    width: 387px;
}
.cources .p2 .box .a {
    width: 250px;
}
.video {
    margin-top: -50px;
}
.video h1 {
    font-size: 28px;
}
.video h3 {
    font-size: 18px;
}
.contact {
    padding-top: 148px;
}
.contact {
    margin: 0px auto;
}
.books .card .title
{
    height: 40px;
}
/* .books .card
{
    height: 500px;
    width: 89vw;
} */
.books .card a
{
   
    margin-left: 2vw;
}
.header .nav ul li a {
    padding: 2px 8px;
}
.intro p {
    font-size: 17px;
}
.articles .art p {
    font-size: 17px;
}
.header .nav ul li {
    margin: 12px -1px;
    padding: 2px 0px;
}
.books .card .title {
    height: 76px;
}
.books .card {
    width: 46%;
}