.header .nav ul
{
    margin: 2px 3px 3px 10rem;
}
.header .nav .title h1
{
    font-size: 25px;
}
.header .nav ul li a
{
    font-size: 10px;
}
.header .nav ul li .f
{
    font-size: 8px;
}
.summury .box
{
    border-bottom: 1px solid white;
}
.summury
{
    flex-direction: column;
    padding: 0px;
}
.summury .box ul li{
    font-size: 20px;

}
.summury .box h1
{
    font-size: 35px;
}
.container .container1 .box h1
{
    font-size: 30px;
}
.container .container1 .box h3
{
    font-size: 17px;
}
.about .aboutInner .box {
    margin: 2px 62px 2px 30px;
}

.cources .ccont .img {
    margin: 2px 2px 2px 1px;
}
.cources .ccont2 .img {
    margin: 2px 2px 2px 1px;
}
.cources {
    padding: 40px;
    padding-bottom: 10px;
}
.cources .ccont .box {
    margin: 32px 131px 2px 72px;
}
.cources .ccont2 .box {
    margin: 32px 131px 2px 72px;
}
.summury .box{
    width: 50%;
    margin: 20px auto;
}
body
{
    background-position: initial;
}